<form action="/saveSnippet" method="post">
  <label for="type">Type *</label>
  <input type="text" id="type" name="type" value="{{snippet.type}}" placeholder="Required" />
  <div class="fieldError">{{errors.type.message}}</div>
  <br />

  <label for="body">Body *</label>
  <input type="text" id="body" name="body" value="{{snippet.body}}" placeholder="Required" />
  <div class="fieldError">{{errors.body.message}}</div>
  <br />

  <label for="notes">Notes</label>
  <input type="text" id="notes" name="notes" value="{{snippet.notes}}" placeholder="Optional" />

  <label for="language">Language *</label>
  <input type="text" id="" name="language" value="{{snippet.language}}" placeholder="What language?" placeholder="Required" />
  <br />

  <label for="tags">Tags</label>
  <input type="text" id="tags" name="tags" value="{{snippet.tags}}" placeholder="Optional" />
  <br />

  {{#if snippet._id}}
    <input type="hidden" name="id" value="{{snippet._id}}" />
  {{/if}}

  <button class="button-primary">Save Snippet</button>
</form>
